extends ../../layouts/default.pug


block main
  .container-fluid.d-flex.flex-column.bg-light
    section.container-lg.bg-white.d-flex.flex-column.my-3.rounded
      // #Advertisement
      .row.py-3
        .col
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
      .row.pb-3
        .col
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
        .col
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
        .col
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
    section.container-lg.bg-info.d-flex.flex-column.mb-3.p-3.rounded
      // #Sale off
      .row.mb-3
        span.fw-bold.fs-5 Sản phẩm khuyến mãi
      .row
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
          span
            | Đã bán 
            b 16
            |  sản phẩm
          .progress
            .progress-bar.bg-info(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
          span
            | Đã bán 
            b 16
            |  sản phẩm
          .progress
            .progress-bar.bg-info(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
          span
            | Đã bán 
            b 16
            |  sản phẩm
          .progress
            .progress-bar.bg-info(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
          span
            | Đã bán 
            b 16
            |  sản phẩm
          .progress
            .progress-bar.bg-info(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
    section.container-lg.bg-white.d-flex.flex-column.mb-3.p-3.rounded
      // #Laptop
      .row.mb-3
        span.fw-bold.fs-5 Laptop
      .row
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') Laptop văn phòng QGKAA-24325
          span.fs-5.text-primary.fw-bold 15.000.000đ
    section.container-lg.bg-white.d-flex.flex-column.mb-3.p-3.rounded
      // #PC
      .row.mb-3
        span.fw-bold.fs-5 PC
      .row
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://nguyencongpc.vn/media/product/250-23959-pc-sharkoon-03.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') PC gaming
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://nguyencongpc.vn/media/product/250-23959-pc-sharkoon-03.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') PC gaming
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://nguyencongpc.vn/media/product/250-23959-pc-sharkoon-03.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') PC gaming
          span.fs-5.text-primary.fw-bold 15.000.000đ
        .col.bg-white.p-2.rounded.d-flex.flex-column.me-1
          a(href='product.html')
            img.img-fluid.rounded(src='https://nguyencongpc.vn/media/product/250-23959-pc-sharkoon-03.jpg' alt='advertisement')
          a.fs-6.text-dark.text-decoration-none(href='product.html') PC gaming
          span.fs-5.text-primary.fw-bold 15.000.000đ
