extends ../../layouts/login_register.pug

block main
  .container-fluid.d-flex.flex-column.bg-info
    section.container-lg.d-flex.flex-column.my-3.rounded
      .row.py-3
        .col-7
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
        form#reset-password-form.col-4.bg-white.d-flex.flex-column.p-3.rounded(method='POST' action='/users/resetpassword')
          if message
            div.alert.alert-primary(role='alert')= message
          span.fs-4.fw-bold.mb-3 Đặt lại mật khẩu
          input(type='hidden' name='userId' value=userId)
          label(for='newPassword') Mật khẩu mới:
          input#new-password.form-control.mb-3(type='password' name='newPassword' required)
          label(for='confirmPassword') Nhập lại mật khẩu mới:
          input#confirm-password.form-control.mb-3(type='password' name='confirmPassword' required)
          button.btn.btn-info.d-flex.mb-3.p-0(type='submit')
            .fs-6.text-decoration-none.text-dark.w-100.p-2 Đặt lại mật khẩu
          .d-flex.flex-row.align-items-center.justify-content-evenly.py-2.border.rounded
            span Đã có tài khoản?
            a(href='/users/login') Đăng nhập
        .col-1

      script.
        document.addEventListener('DOMContentLoaded', function() {
          document.getElementById('reset-password-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const newPassword = document.getElementById('new-password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            
            // Kiểm tra xem newPassword và confirmPassword có giống nhau hay không
            if (newPassword !== confirmPassword) {
              alert('Mật khẩu mới và Nhập lại mật khẩu mới không trùng khớp');
              return; // Dừng xử lý tiếp theo nếu không trùng khớp
            }

            const formData = new URLSearchParams(new FormData(this));
            
            fetch('/users/resetpassword', {
              method: 'POST',
              body: formData,
              headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
              }
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                alert(data.message);
                window.location.href = '/users/login';
              } else {
                alert(data.message);
              }
            })
            .catch(error => {
              console.error('Error:', error);
            });
          });
        });
