/* CSS cho màn hình ngang */
@media (orientation: landscape) {

  /* css for tags */
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  /* css for class */
  .topnav a {
    float: left;
    background-color: #222;
    color: white;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
  }

  .topnav a:hover {
    color: deepskyblue;
  }

  .logo-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(0, 42, 87);
  }

  .head-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .test {
    border: 1px solid black;
  }


  /* css for id */
}

/* CSS cho màn hình dọc */
@media (orientation: portrait) {

  /* css for tags */
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  /* css for class */
  .topnav a {
    float: left;
    background-color: #222;
    color: white;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
  }

  .topnav a:hover {
    color: deepskyblue;
  }

  .logo-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(0, 42, 87);
  }

  .head-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .test {
    border: 1px solid black;
  }

  /* css for id */
}


/*common css*/
header .cart-container{
  position: relative;
}
header .cart-container .cart-notification{
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: #f70f0f;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid gray;
  justify-self: center;
  align-self: center;
  color:beige;
}
.pagination {
  display: flex;
  justify-content: center;
}

.image-container{
  width: 100%;
  height: 85%;
  max-height: 250px;
}
.product-img{
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: rgba(9, 5, 247, 0.699);
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.877);
	text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 0, 0, 0.76);
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
