*{
    --header-height: 70px;
    --nav-height: 46px;
    --header-icons: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica, Arial, sans-serif;
}
#header{
    height: var(--header-height);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #5270FF;
    background-color: #F7F7F7;
}
#header a{
    text-decoration: none;
    color:#5270FF
}
#header #logo{
    display: flex;
    align-items: center;
}
#header #logo .label{
    display: inline-block;
}
#header #logo .image-logo{
    max-height: var(--header-height);
    object-fit: fill;
}

#header .form-search{
    display: inline-block;
}

#header .form-search .search-bar{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    width: 500px;
}

#header .form-search .search-submit{
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: #5270FF;
}
@media (max-width: 800px) {
    #header .form-search .search-submit {
        display: none;
    }
}
#header .shopping-cart{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}
#header .shopping-cart .cart-icon{
    padding: 5px;
    font-size: var(--header-icons);
}

#header .user-info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#header .user-info .user-icon{
    padding: 5px;
    font-size: var(--header-icons);
    margin-right: 10px;

}

#nav{
    display: inline-block;
    background-color: #5270FF;
    width: 100%;
    padding: 5px 30px;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: var(--nav-height);
    padding: 0 24px;
    display: block;
}

#nav > li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover > a
{
    background-color: #ccc;
    color: black;
    
}
#nav .subnav{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
    left: 0;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav .subnav a{
    color: black;
    line-height: 38px;
    padding: 0 12px;
}

#slider{
    display: flex;
    height: 300px;
    background-color: white;
    list-style-type: none;
}
#slider .categories{
    flex: 3;
    height: 100%;
    background-color: white;
}
.categories > ul > li{
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #ccc;
    color: #000;
}
.categories > ul > li a{
    text-decoration: none;
    color: #000;

}
#slider .slides{
    flex: 7;
    height: 100%;
    background-image: url("../img/20220617_hC9PXVaTBAuJB5PoCjOjwIDW.jpg");
    background-size: contain;
    
}
#content{   
    width: 100%;
    position: relative;
}
div.sider{
    margin: 10px;
    padding: 0px !important;
}
.sider .title{
    background-color: #5270FF;
    color: white;
}
.sider .body a{
    text-decoration: none;

}
.subcontent{
    width: 100%;
}
.subcontent .title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.subcontent .products .product{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.subcontent .products img{
    padding: 10px;
    width: 100%;
    object-fit: contain;
}


#login-box{
    display: block;
    width: 270px;
    margin: 20px auto;
}
#login-box .title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#login-box .login-form label, #login-box .login-form input{
    margin-bottom: 10px;
}

#blog-content .post{
    margin: 20px;
    max-height: 250px;
}
#blog-content .post a{
    text-decoration: none;
    
}
#blog-content .post .title{
    font-size: 30px;
    color: #5270FF;
}
#blog-content .post .preview-img img{
    max-width: 125px;
    object-fit: contain;
}


#footer{
    background-color: #152026;
    color:white;
    padding-top: 20px;
    
}
#footer ul{
    list-style-type: none;

}
#footer a{  
    text-decoration: none;
    color: white;
}

#footer .footer-icons{
    padding-right: 5px;
}

