footer.container-fluid.bg-dark.py-3
  .row.container-fluid.align-items-start.justify-content-center
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      .container-fluid.d-flex.flex-row.align-items-center.justify-content-start.mb-3
        img.img-fluid.rounded.me-3(src='../asset/images/TechStore-Logo.png' alt='tech_store_logo')
      ul
        li Địa chỉ: 2xx đường số 10, Linh Trung, Thủ Đức
        li Số điện thoại: 0988-123-xxx
        li Email: sale@techstore.com.vn
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Chính sách
      ul
        li Chính sách giao hàng
        li Chính sách bảo hành
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Hướng dẫn
      ul
        li Hướng dẫn thanh toán
        li Hướng dẫn trả góp
    .col-3.d-flex.flex-column.align-items-start.justify-content-start.text-white
      span.fs-5.fw-bold Phương thức thanh toán
      img.w-75.my-2.rounded(src='../asset/images/payMethod.png' alt='pay-method')
