header.container-fluid.py-2.bg-white
  .row.container-fluid.align-items-center.justify-content-center
    .col-2.d-flex.flex-row.align-items-center.justify-content-center
      a(href='index.html')
        img.img-fluid.rounded.w-75(src='../asset/images/TechStore-Logo.png' alt='tech_store_logo')
    .col-10.d-flex.flex-row.rounded