extends ../../layouts/default.pug

block main
  .container-fluid.d-flex.flex-column.bg-light.gap-2
    section.container-lg.bg-white.d-flex.flex-column.rounded.my-2
      // #Order
      .row.px-3.my-2
        .col-9
        .col-3.d-flex.flex-row.justify-content-end
          span.fw-bold Trạng thái: Giao hàng thành công
      .border-top.mx-3.mb-2
      .row.px-3.mb-2
        .row.bg-white.py-2.rounded
          .col-2
            a(href="product.html")
              img.img-fluid.rounded(src="https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg", alt="advertisement")
          .col-8.d-flex.flex-column
            a.fs-5.text-dark.text-decoration-none(href="product.html") Laptop văn phòng QGKAA-24325
            span.fs-6 Số lượng: 2
          .col-2.d-flex.flex-column.align-items-end.justify-content-center
            span.fs-5.text-primary.fw-bold 15.000.000đ
        .row.bg-white.py-2.rounded
          .col-2
            a(href="product.html")
              img.img-fluid.rounded(src="https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg", alt="advertisement")
          .col-8.d-flex.flex-column
            a.fs-5.text-dark.text-decoration-none(href="product.html") Laptop gaming QGKAA-24325
            span.fs-6 Số lượng: 1
          .col-2.d-flex.flex-column.align-items-end.justify-content-center
            span.fs-5.text-primary.fw-bold 20.000.000đ
      .border-top.mx-3.mb-2
      .d-flex.flex-column.px-3.mb-2
        .d-flex.flex-row.justify-content-end.align-items-center
          span.fs-5.px-3 Tổng:
          span.fs-4.text-primary.fw-bold 50.000.000đ
        .d-flex.flex-row.justify-content-end.align-items-center
          button.btn.btn-info.m-2(type="button") Mua lại
          button.btn.btn-light.m-2(type="button")
            a.text-dark.text-decoration-none(href="order-detail.html") Xem chi tiết
    section.container-lg.bg-white.d-flex.flex-column.rounded.my-2
      // #Order
      .row.px-3.my-2
        .col-9
        .col-3.d-flex.flex-row.justify-content-end
          span.fw-bold Trạng thái: Đang giao hàng
      .border-top.mx-3.mb-2
      .row.px-3.mb-2
        .row.bg-white.py-2.rounded
          .col-2
            a(href="product.html")
              img.img-fluid.rounded(src="https://tallzebradesigns.co.uk/wp-content/uploads/2020/12/Banner-Ads.jpg", alt="advertisement")
          .col-8.d-flex.flex-column
            a.fs-5.text-dark.text-decoration-none(href="product.html") Laptop văn phòng QGKAA-24325
            span.fs-6 Số lượng: 2
          .col-2.d-flex.flex-column.align-items-end.justify-content-center
            span.fs-5.text-primary.fw-bold 15.000.000đ
      .border-top.mx-3.mb-2
      .d-flex.flex-column.px-3.mb-2
        .d-flex.flex-row.justify-content-end.align-items-center
          span.fs-5.px-3 Tổng:
          span.fs-4.text-primary.fw-bold 30.000.000đ
        .d-flex.flex-row.justify-content-end.align-items-center
          button.btn.btn-info.m-2(type="button", disabled) Mua lại
          button.btn.btn-light.m-2(type="button")
            a.text-dark.text-decoration-none(href="order-detail.html") Xem chi tiết