header.container-fluid.py-2.bg-info
  form#logout_form(action = "/users/logout" d-none method = 'POST')
  .row.container-fluid.align-items-center.justify-content-center
    .col-2.d-flex.flex-row.align-items-center.justify-content-center
      a(href='/')
        img.img-fluid.rounded.w-75(src='/asset/images/TechStore-Logo.png' alt='tech_store_logo')
    form.col-7.d-flex.flex-row.bg-white.rounded.p-1(action = "/products")
      input(class = 'form-control border-0' type='text' placeholder='Tìm kiếm' name = 'keyword' value=keyword) 
      button.btn.btn-info(type='submit') Search
    .cart-container.col-1.d-flex.flex-row.align-items-center.justify-content-center
      a.btn.btn-info.w-75(href='/cart')
        if(user && user.cartTotal > 0)
          span.cart-notification #{user.cartTotal}
        else
          span.cart-notification 0
        img.img-fluid.w-100(src='/asset/images/cart.png' alt='add-to-cart')
    .col-2.d-flex.flex-row.align-items-center.justify-content-center
      .dropdown.row.d-flex.flex-row.align-items-center.justify-content-between.mx-4
        if(user)
          button#dropdownUser.btn.btn-info.dropdown-toggle.d-flex.flex-row.align-items-center.justify-content-between(type='button' data-bs-toggle='dropdown')
            .row.d-flex.flex-row.align-items-center.justify-content-between
              img.img-fluid.col-4(src='/asset/images/ava.png' alt='user-ava')
              span.col-8.fw-bold #{user.username}
          ul.dropdown-menu(aria-labelledby='dropdownUser')
            li
              a.dropdown-item(href='#') Thông tin cá nhân
            li 
              a.dropdown-item(href='/users/lost_password') Đổi mật khẩu
            li
              btn#logout_btn.dropdown-item Đăng xuất
        else
          a#dropdownUser.btn.btn-info.dropdown-toggle.d-flex.flex-row.align-items-center.justify-content-between(href='/users/login')
            .row.d-flex.flex-row.align-items-center.justify-content-between
              span.col-8.fw-bold Đăng nhập
