.topnav.d-flex.bg-dark
  .dropdown.row.d-flex.flex-row.align-items-center.justify-content-between.mx-4
    button#dropdownMenu.btn.btn-dark.dropdown-toggle.d-flex.flex-row.align-items-center(type='button' data-bs-toggle='dropdown')
      .row.d-flex.flex-row.align-items-center.justify-content-between.ms-3
        img.img-fluid.col-2(src='/asset/images/menu.png' alt='cash')
        span.col-10.text-white DANH MỤC SẢN PHẨM
    ul.dropdown-menu.bg-dark(aria-labelledby='dropdownMenu')
      li
        a.dropdown-item(href='/products?category=laptop') Laptop
      li
        a.dropdown-item(href='/products?category=pc') PC
      li
        a.dropdown-item(href='/products?category=gaming-gear') Gaming gear
      li
        a.dropdown-item(href='/products?category=storage') Storage
      li
        a.dropdown-item(href='/products?category=thiet-bi-ngoai-vi') Thiết bị ngoại vi
  a.row.d-flex.flex-row.align-items-center.justify-content-between(href='')
    img.img-fluid.col-2(src='/asset/images/cash.png' alt='cash')
    span.col-10 Hướng dẫn thanh toán
  a.row.d-flex.flex-row.align-items-center.justify-content-between(href='')
    img.img-fluid.col-2(src='/asset/images/installment.png' alt='cash')
    span.col-10 Hướng dẫn trả góp
  a.row.d-flex.flex-row.align-items-center.justify-content-between(href='')
    img.img-fluid.col-2(src='/asset/images/warranty.png' alt='cash')
    span.col-10 Chính sách bảo hành
  a.row.d-flex.flex-row.align-items-center.justify-content-between(href='')
    img.img-fluid.col-2(src='/asset/images/hiring.png' alt='cash')
    span.col-10 Thông tin tuyển dụng