/* CSS cho màn hình ngang */
@media (orientation: landscape) {

  /* css for tags */
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  /* css for class */
  .topnav a {
    float: left;
    background-color: #222;
    color: white;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
  }

  .topnav a:hover {
    color: deepskyblue;
  }

  .logo-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(0, 42, 87);
  }

  .head-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .test {
    border: 1px solid black;
  }


  /* css for id */
}

/* CSS cho màn hình dọc */
@media (orientation: portrait) {

  /* css for tags */
  body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  /* css for class */
  .topnav a {
    float: left;
    background-color: #222;
    color: white;
    font-weight: 600;
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
  }

  .topnav a:hover {
    color: deepskyblue;
  }

  .logo-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: rgb(0, 42, 87);
  }

  .head-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .test {
    border: 1px solid black;
  }

  /* css for id */
}


/*my-css*/
.pagination {
  display: flex;
  justify-content: center;
}

.image-container{
  width: 100%;
  height: 85%;
  max-height: 250px;
}
.product-img{
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: rgba(9, 5, 247, 0.699);
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: rgba(128, 128, 128, 0.877);
	text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 0, 0, 0.76);
}
