extends ../../layouts/login_register.pug

block main
  .container-fluid.d-flex.flex-column.bg-info
    section.container-lg.d-flex.flex-column.my-3.rounded
      .row.py-3
        .col-7
          img.img-fluid.rounded(src='../asset/images/main-ads.jpg' alt='advertisement')
        form(class = "col-4 bg-white d-flex flex-column p-3 rounded" method = "POST" action = "register")
          if message
            div.alert.alert-primary(role='alert')= message
          span.fs-4.fw-bold.mb-3 Đăng ký
          input#login-input-username.form-control.mb-3(type='text' name='username' placeholder='Tên đăng nhập')
          input#login-input-email.form-control.mb-3(type='text' name='email' placeholder='Email')
          input#login-input-address.form-control.mb-3(type='text' name='address' placeholder='Địa chỉ')
          input#login-input-password.form-control.mb-2(type='password' name='password' placeholder='Mật khẩu')
          
          // Thêm trường chọn cho loại tài khoản
          select#account-type.form-select.mb-3(name='isAdmin')
            option(value='false') Khách hàng
            option(value='true') Admin

          // Thêm div để hiển thị thông báo
          div#admin-message.alert.alert-danger(style='display:none') OTP của admin account sẽ được gửi đến email quản trị

          button.btn.btn-info.d-flex.mb-3.p-0(type='submit')
            .fs-6.text-decoration-none.text-dark.w-100.p-2 Đăng ký
          .d-flex.flex-row.align-items-center.justify-content-evenly.py-2.border.rounded
            span Đã có tài khoản?
            a(href='/users/login') Đăng nhập
        .col-1
          // #region

      // Script để xử lý sự kiện khi chọn loại tài khoản
      script.
        document.getElementById('account-type').addEventListener('change', function() {
          var selectedValue = this.value;
          var adminMessage = document.getElementById('admin-message');
          if (selectedValue === 'admin') {
            adminMessage.style.display = 'block';
          } else {
            adminMessage.style.display = 'none';
          }
        });
